@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

:root {
    --mainFontSize: 17px;
}
body {
    background-color: #1B2631;
    color: white;
}
body, input {
    font-family: "Inter";
}
.pNoSpace {
    margin: 0;
}
#inputsContainer {
    display: flex;
    flex-direction: row;
}
#inputsContainer div:first-child {
    margin-right: 50px;
}
.inputs, #inputsControls {
    display: flex;
    width: 200px;
}
.inputs input, #inputsControls div:first-child button {
    outline: none;
    border: none;
    background-color: #2D4052;
    color: white;
}
.inputs, #inputsControls {
    flex-direction: column;
}
.inputs input {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 2px;
    letter-spacing: 2px;
}
#inputsControls {
    justify-content: center;
}
#inputsControls div:first-child {
    width: 100%;
}
#inputsControls div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#inputsControls div button:not(.alignButton) {
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
}
#inputsControls div button {
    font-family: "Inter";
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 3px;
}
#inputsControls button:hover {
    cursor: pointer;
}
#inputsControls div:first-child button:hover {
    background-color: #3F5A73;
}
#alignContainer {
    display: flex;
    flex-direction: row;
}
.alignButton {
    outline: none;
    border: none;
    color: white;
    background-color: #2D2D52;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.alignButton:hover {
    background-color: #3F3F73;
}
#inspecting {
    display: flex;
    flex-direction: column;
}
#inspecitng div {
    display: flex;
    flex-direction: column;
}
td {
    padding: 5.5px;
    font-size: var(--mainFontSize);
    text-align: center;
}
.scoreCell {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}
.scoreCell p {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0.5px;
}
.hoverable:hover {
    cursor: help;
    font-weight: bold;
    color: #F06292;
}
.sequence {
    font-weight: bold;
    color: #4FC3F7;
}
.descend {
    color: #FFE082;
}
/* font color set in js when showing*/
#output {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    display: none;
}
#output p {
    margin: 0;
    padding-bottom: 10px;
}